:root {
    --button-color: rgb(163, 163, 163);
    --button-color-onhover: white;
    --button-background-color: rgb(0,0,0,0);
    --button-gradient: linear-gradient(to right, blue 0%, purple 100%);
    --button-width: 40px;
    --button-height: 37px;
    --button-radius: 100%;
    --slide-height: 130px;
} /* Set of variables. */

* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    display: flex;
}

.arrows {
    color: var(--button-color);
    background-color: var(--button-background-color);
    width: 30px;
    height: var(--slide-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.arrows:hover {
    color: var(--button-color-onhover);
}

.display-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.slide-banner {
    visibility: hidden;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 163, 163, 0.4);
}

.slide-banner button {
    color: var(--button-color);
    margin: 0px;
    padding: 5px;
    background-color: var(--button-backgroundcolor);
    background: var(--button-gradient);
    border: solid grey 0.2px;
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-radius);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-banner button:hover {
    border-color: var(--button-color-onhover);
    color: var(--button-color-onhover);
}



