.footersection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 1);
    color: gainsboro;
    font-size: 14px;
}